.cart {
  background: #000;
  display: none;
  padding: 32px;
  position: fixed;
  right: 0px;
  top: 0px;
  width: 300px;
  height: 100%; /* Ocupa toda la altura de la pantalla */
  display: flex;
  flex-direction: column; /* Organizar en columna */
  justify-content: space-between; /* Botones al final */
}

.cart-items-container {
  flex-grow: 1; /* Permite que este contenedor crezca */
  max-height: 400px; /* Limitar la altura del contenedor de productos */
  overflow-y: auto;  /* Habilitar scroll vertical para los productos */
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column; /* Alinear productos de forma vertical */
  gap: 1rem; /* Espacio entre los productos */
}

.products {
  display: flex;
  flex-direction: column; /* Alinear productos en columna */
  gap: 1rem; /* Espaciado entre productos */
}

.cart-item {
  display: flex;
  align-items: center; 
  flex-direction: column; 
  padding: 1rem;
  border-bottom: 1px solid #444;
  width: 100%; /* Asegurar que ocupe todo el ancho disponible */
}

.cart-item img {
  width: 50px; /* Tamaño de la imagen */
  margin-bottom: 10px; /* Espacio debajo de la imagen */
}

.cart-summary {
  background-color: transparent; /* Fondo transparente para eliminar el fondo blanco */
  padding: 1rem;
  border-radius: 8px;
  box-shadow: none; /* Eliminar sombra */
}

.cart-actions {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #000; /* Fondo negro para los botones */
  position: sticky; /* Fijo en la parte inferior del contenedor */
  bottom: 0;
}

.checkout-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.checkout-button:hover {
  background-color: #45a049;
}

.clear-cart-button {
  background-color: #000;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.clear-cart-button:hover {
  opacity: 0.9;
}

.cart-button {
  align-items: center;
  background: #09f;
  border-radius: 9999px;
  cursor: pointer;
  display: flex;
  height: 32px;
  justify-content: center;
  padding: 4px;
  position: absolute;
  right: 8px;
  top: 8px;
  transition: all .3s ease;
  width: 32px;
  z-index: 9999;
}

.cart-button:hover {
  scale: 1.1;
}

.cart-button ~ input:checked ~ .cart {
  height: 100%;
  display: block;
}

.clear-cart-button:hover, .checkout-button:hover {
  opacity: 0.9;
}
